// Colors

$black: #000000;
$dark-purple: #5c2dd5;
$light-purple: #7945ff;
$pink: #fd6687;
$yellow: #ffce67;
$white: #ffffff;

// Font Sizes
$fs-lg: 3.5rem;
$fs-md: 1.5rem;
$fs-sm: 1.25rem;
$fs-xs: 1rem;

// Font Weights
$fw-bold: 700;

// Border Radius
$base-border-radius: 20px;

// Drop Shadow
$base-drop-shadow: drop-shadow(0px 10px 0px #000);
