.game-arena__container {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;

  @include tablet() {
    align-items: flex-start;
  }

  @include desktop() {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

.relative {
  position: relative;
}

.scorecard__container-sm {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 5%;

  @include desktop() {
    display: none;
  }
}

.header-hidden-lg {
  display: block;
  @include desktop() {
    display: none;
  }
}

.header-hidden-md {
  display: none;

  @include desktop() {
    display: block;
  }
}
