.cta-panel__container {
    width: 100%;
    max-width: 335px;


    @include tablet() {
        max-width: 480px;
        background-color: $dark-purple;
        border-radius: 40px;
        border: 4px solid $black;
        box-shadow: 0 10px 0 $black;
        
    }

    .cta-panel__header {
        margin: 4.375rem 0 5rem 0;
    }

    .cta-button__container {
        margin-bottom: 3.75rem;
    }
   
}