.board__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board__wrapper {
  position: relative;
}

.board__layer,
.gameboard__grid {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

.board__layer.black {
  margin-top: 5px;
  z-index: 1;
}

.board__layer.white {
  z-index: 3;
}

.gameboard__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 327px;
  height: 280px;
  margin-top: -10px;
  z-index: 2;

  @include tablet() {
    width: 615px;
    height: 525px;
    margin-top: -21px;
  }
}

.board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
