.board__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include desktop() {
    display: flex;
    justify-content: center;
  }
}

.board__wrapper {
  position: relative;
  width: 335px;
  height: 315.5px;

  @include tablet() {
    width: 632px;
    height: 589.5px;
  }
}

.board__layer,
.gameboard__grid {
  top: 0;
  left: 0;
  position: absolute;

  //   @include desktop() {
  //     transform: translate(-50%, -50%);
  //   }
}

.board__layer.black {
  margin-top: 5px;
  z-index: 1;

  @include tablet() {
    margin-top: 15px;
  }
}

.board__layer.white {
  z-index: 3;
}

.gameboard__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 327px;
  height: 280px;
  z-index: 2;
  top: 8px;
  left: 4px;

  @include tablet() {
    width: 615px;
    height: 528px;
    left: 8px;
    top: 12px;
  }
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.marker-strip__container {
  position: absolute;
  top: -35px;
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-around;
}

.board__layer.black,
.board__layer.white,
.chip {
  pointer-events: none;
}

@keyframes dropCounter {
  0% {
    transform: translateY(-300%);
    offset: 0;
  }
  50% {
    transform: translateY(0);
    offset: 0.6;
  }
  75% {
    transform: translateY(-10%);
    offset: 0.8;
  }
  100% {
    transform: translateY(0);
    offset: 1;
  }
}

.counter {
  animation-name: dropCounter;
  animation-timing-function: cubic-bezier(0.42, 0.24, 1.1, 1);
  animation-duration: 0.25s;
}
