.bottom-border {
  width: 100%;
  height: 236px;
  background-color: $dark-purple;
  border-radius: 60px 60px 0 0;


  @include mob-360() {
    height: 210px;
  }

  @include tablet() {
    height: 200px;
  }

  @include desktop-h-768() {
    height: 155px !important;
  }

  @include desktop() {
    height: 200px;
  }

}

.bottom-border-pink {
  background-color: $pink;
}

.bottom-border-yellow {
  background-color: $yellow;
}
