.bottom-border {
  width: 100%;
  height: 200px;
  background-color: $dark-purple;
  border-radius: 60px 60px 0 0;

  @include tablet() {
    height: 234px;
  }

  @include desktop() {
    position: static;
    height: 200px;
  }

  @include dev-desktop() {
    position: static;
    bottom: 0;
    left: 0;
  }
}
