.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto 35px auto;
  max-width: 315.5px;

  @include tablet() {
    max-width: 632px;
    margin-bottom: 16px;
  }

  @include desktop() {
    margin: 0 auto;
    padding: 53px 0 51px 0;
  }

  @include desktop-h-768() {
    padding: 53px 0 0 0;
  }
}

.header__btn {
  background-color: $dark-purple;
  border-radius: 100px;
  color: $white;
  height: 39px;
  width: 108px;
  text-transform: uppercase;
  font-size: $fs-xs;
}
