.scorecard__wrapper {
  border: 2px solid $black;
  background-color: $white;
  width: 60%;
  text-align: center;
  margin-bottom: 50px;
  border-radius: $base-border-radius;
  position: relative;

  @include tablet() {
    margin-bottom: 32px;
  }

  @include desktop() {
    width: initial;
    padding: 0;
    margin: 0 2.5rem;
  }

  &:before {
    content: "";
    position: absolute;
    filter: $base-drop-shadow;
    left: 0;
    top: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background: white;
  }

  .scorecard {
    position: relative;
    padding: 0.5875rem 0;

    @include tablet() {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0.3875rem 1rem;
    }

    @include desktop() {
      display: block;
      margin-left: 0 3.75rem;
      padding: 2.1875rem 1.5rem 0 1.5rem;
    }
  }

  .scorecard__wrapper {
    @include desktop() {
      margin: 0 2rem;
    }
  }

  .scorecard.player-two {
    @include tablet() {
      h2 {
        order: 2;
      }

      p {
        order: 1;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: $fs-xs;
    @include tablet() {
      font-size: $fs-sm;
    }
  }

  p {
    font-size: 32px;
    font-weight: bold;
    @include tablet() {
      font-size: $fs-lg;
    }
  }

  .player-icon__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .player-icon__container.player-one {
    left: -20%;
    @include tablet() {
      left: -10%;
    }

    @include desktop() {
      left: 50%;
      top: -20%;
      transform: translateX(-50%);
    }
  }

  .player-icon__container.player-two {
    right: -20%;
    @include tablet() {
      right: -10%;
    }

    @include desktop() {
      right: 50%;
      transform: translateX(50%);
      top: -20%;
    }
  }
}

.scorecard-hidden-md {
  display: none;

  @include desktop() {
    display: block;

    &.player-one {
      order: 1;
    }

    &.player-two {
      order: 3;
    }
  }
}
